# Dependencies yang tidak perlu disalin karena akan diinstal di dalam kontainer
node_modules

# Direktori dan file Git
.git
.gitignore

# Logs
npm-debug.log
yarn-debug.log
.log

# Build/Dist files (jika ada)
dist
build

# File yang dibuat oleh OS atau Editor
.DS_Store
.vscode
.idea
